@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
 @import url('https://fonts.cdnfonts.com/css/bleach');


:root {
    --laranja-claro: #ff6738;
    border-radius: 20%;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: #1f1f1f;
    
    

}


header {
    
 background: linear-gradient(#3d3d3d,  #1f1f1f);

}
.alto-contraste header{
    background: linear-gradient(#353535,  #0c0c0c);
}


section {
    padding-bottom: 5rem;
}


/* Adicione essas classes ao seu arquivo CSS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1f1f1f;
    color: white;
}

:root {
    --laranja-claro: #ff6738;
    --link: #fa5523;
    --alto-contraste-fundo: #0c0c0c;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #00eeff;
    --alto-contraste-borda: #0090d3;
    --alto-contraste-sombra: #fa5523;

}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
    
}
.alto-contraste .display-4 {
    text-shadow: -5px 5px var(--alto-contraste-sombra);

}
.alto-contraste h2 {    -webkit-text-stroke-color: var(--alto-contraste-borda);
    -webkit-text-stroke-width: 4px;
}
.alto-contraste .botao-inicio{
color: #0c0c0c;
}
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}
.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}
.alto-contraste #tropicalia {
    
}
.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

.nav-link {
    color: #ffff;
    font-weight: 600;
}

.inicio-fundo {
    /* aula 3 */
    background-image: 
    url('img/nEdjjB9-QmYr6y99INRSvttOaZ539_gEayDfUw1b2x0.webp');
    filter: brightness(80%);
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}
.imagem-transparente{opacity: 1;}
/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 10px;
    color: #ffffff;
    border: none; /* Remove borda se houver */
    outline: none; /* Remove outline padrão */
    transition: background-color 0.3s;
    padding: 10px 20px; /* Ajuste conforme necessário */
}

.botao-inicio:hover {
    background-color: #fa5523;
}

.botao-inicio:focus {
    box-shadow: 0 0 0 3px rgba(255, 103, 56, 0.5); /* Sombra laranja no foco */
}

.botao-inicio:active {
    background-color: #e04e1a !important; /* Cor mais escura ao clicar */
}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat,
        url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
    /* Ajuste o tamanho conforme necessário */
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    text-align: center;
    font-family: 'Bleach', sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#ff501b;
    font-size: 150px;
}
#galeria {
    background-color: #1f1f1f;

}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/8yooz00dyb3c1.webp');
    background-size: cover;
    padding: 4rem 0;
    border-radius: var(--bs-border-radius-xxl) !important;
        /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #3d3d3d;
    opacity: 0.9;
}

.formulario {
    
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #ff6738;
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #ffffff;
}